# Copier ce fichier en .env et remplir les valeurs
# .env ne doit JAMAIS être commité

# Application (0 = prod, 1 = debug)
APP_DEBUG=1
APP_TIMEZONE=UTC

# MongoDB
DB_MONGO_HOST=localhost
DB_MONGO_PORT=27017
DB_MONGO_USERNAME=
DB_MONGO_PASSWORD=
DB_MONGO_DATABASE=SkankyStarter

# Mails (SMTP), seulement si tu envoies des mails
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=
MAIL_PORT=
MAIL_SENDER=
